
.landing{
    width: 100%;
    background-color: #def1f7;
    border: 1px solid grey;
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 2px solid grey;
    border-radius: 15px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.item{
    flex-grow: 1;
    flex-basis: 200;
}
.searchbtn{
    color: white;
    margin-top: 1.7rem;
    height: 3rem;
    width: 10rem;
    font-size:large;
}
.paytm-img{
    margin-left: 6.5rem;
    margin-top: 2rem;
}


.containerTwo{
    background-color: #def1f7;
    border:none;
    box-shadow: none;
}
.itemTwo{
    flex-grow: 1;
    flex-basis: 200;
}
.roundbtn{
    border-radius: 30px;
    
}
